In [130]:
# Dependencies
import pandas as pd
import numpy as np

In [33]:
# Name of the CSV file
file = 'Resources/2020CaliforniaOilAndGasWells.csv'
file_2='Resources/2020Production_monthly.csv'
file_3='Resources/2019Production_monthly.csv'
file_4='Resources/2018Production_monthly.csv'

In [119]:
# The correct encoding must be used to read the CSV in pandas
wells = pd.read_csv(file)
df_20=pd.read_csv(file_2)
df_19=pd.read_csv(file_3)
df_18=pd.read_csv(file_4)
df_20
wells

,API,FieldCode,AreaCode,PoolCode,WellTypeCode,LeaseName,FieldName,AreaName,PoolName,WellNumber,...,District,Section,SubSection,Township,Range,BM,Operatorcode,OperatorName,OperatorStatus,SystemEntryDate
0,40010000100,404,0,0,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,1,...,Northern,7.0,NaN,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,42:42.5
1,40012000400,404,0,0,OG,Greenville Investment Group,Livermore,Any Area,No Pool Breakdown,2,...,Northern,7.0,NaN,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,42:42.5
2,40012000500,404,0,0,OG,Smith et ux,Livermore,Any Area,No Pool Breakdown,1,...,Northern,6.0,NaN,03S,03E,MD,A1904,American Exploration Co.,Unknown,42:42.5
3,40012000800,404,0,0,OG,Nissen,Livermore,Any Area,No Pool Breakdown,2,...,Northern,7.0,NaN,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,42:42.5
4,40012000800,404,0,5,WD,Nissen,Livermore,Any Area,Greenville,2,...,Northern,7.0,NaN,03S,03E,MD,E0100,E & B Natural Resources Management Corporation,Active,42:42.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221516,42832158400,118,0,0,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,76,...,Coastal,17.0,NaN,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,42:42.5
221517,42832158500,118,0,0,OG,Exxon,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,9,...,Coastal,17.0,NaN,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,42:42.5
221518,42832158600,118,0,0,OG,SACS 3150,Carpinteria Offshore (ABD),Any Area,No Pool Breakdown,77,...,Coastal,17.0,NaN,03N,25W,SB,C5640,Chevron U.S.A. Inc.,Active,42:42.5
221519,42952006000,634,3,0,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-1A,...,Northern,30.0,NaN,03N,01W,MD,C5640,Chevron U.S.A. Inc.,Active,42:42.5
221520,42952006400,634,3,0,DG,State 3743.1,Ryer Island Gas,Offshore (ABD),No Pool Breakdown,48-2,...,Northern,25.0,NaN,03N,02W,MD,C5640,Chevron U.S.A. Inc.,Active,42:42.5

In [106]:
# 2018 production
df_18_sort=df_18[['APINumber', 'FieldCode', 'ProductionReportDate', 'APIGravityofOil', 'OilorCondensateProduced']]
df_18_sort['OilorCondensateProduced'].sum()

160681035.10181904

In [107]:
# 2019 production
df_19_sort=df_19[['APINumber', 'FieldCode', 'ProductionReportDate', 'APIGravityofOil', 'OilorCondensateProduced']]
df_19_sort['OilorCondensateProduced'].sum()

156593425.88811964

In [134]:
# 2020 production
df_20_sort=df_20[['APINumber', 'FieldCode', 'ProductionReportDate', 'APIGravityofOil', 'OilorCondensateProduced']]
df_20_sort

,APINumber,FieldCode,ProductionReportDate,APIGravityofOil,OilorCondensateProduced
0,40192022600,150,4/30/2020 0:00,NaN,0.000000
1,40298869200,432,4/30/2020 0:00,NaN,38.386133
2,40292937300,158,2/29/2020 0:00,NaN,0.000000
3,40294110500,454,1/31/2020 0:00,NaN,0.000000
4,40291457500,490,5/31/2020 0:00,NaN,0.000000
...,...,...,...,...,...
386484,40192151100,150,5/31/2020 0:00,NaN,36.828261
386485,40792073500,28,4/30/2020 0:00,NaN,250.108163
386486,40290655201,222,4/30/2020 0:00,0.0,0.000000
386487,40370105200,54,2/29/2020 0:00,NaN,837.189456
386488,40297883400,340,1/31/2020 0:00,12.5,28.000000

In [109]:
# combine production tables 2018-2020
total=df_20_sort.append([df_19_sort, df_18_sort])
total['OilorCondensateProduced'].sum()

369485504.4058206

In [193]:
# refine well source data
df_rename=wells.rename(columns={'API': 'APINumber'})
df_source=df_rename.drop(['AreaCode', 'PoolCode', 'PoolName', 'AreaName', 'WellNumber', 'Section', 'SubSection', 'Township',
                'Range', 'BM', 'Operatorcode', 'OperatorStatus', 'SystemEntryDate', 'PoolWellTypeStatus'], axis=1)
df_source.head()

,APINumber,FieldCode,WellTypeCode,LeaseName,FieldName,WellStatus,County,District,OperatorName
0,40010000100,404,OG,Greenville Investment Group,Livermore,Active,Alameda,Northern,E & B Natural Resources Management Corporation
1,40012000400,404,OG,Greenville Investment Group,Livermore,Active,Alameda,Northern,E & B Natural Resources Management Corporation
2,40012000500,404,OG,Smith et ux,Livermore,Plugged,Alameda,Northern,American Exploration Co.
3,40012000800,404,OG,Nissen,Livermore,Idle,Alameda,Northern,E & B Natural Resources Management Corporation
4,40012000800,404,WD,Nissen,Livermore,Idle,Alameda,Northern,E & B Natural Resources Management Corporation

In [194]:
# drop duplicate well APINumbers (usually associated with different pools of drilling -- not relevant to this analysis)
final_wells=df_source.drop_duplicates(['APINumber'])
final_wells.head()

,APINumber,FieldCode,WellTypeCode,LeaseName,FieldName,WellStatus,County,District,OperatorName
0,40010000100,404,OG,Greenville Investment Group,Livermore,Active,Alameda,Northern,E & B Natural Resources Management Corporation
1,40012000400,404,OG,Greenville Investment Group,Livermore,Active,Alameda,Northern,E & B Natural Resources Management Corporation
2,40012000500,404,OG,Smith et ux,Livermore,Plugged,Alameda,Northern,American Exploration Co.
3,40012000800,404,OG,Nissen,Livermore,Idle,Alameda,Northern,E & B Natural Resources Management Corporation
5,40012000801,404,OG,Nissen,Livermore,Idle,Alameda,Northern,E & B Natural Resources Management Corporation

In [195]:
# merge final_well data with annual production by APINumber

df_merge=pd.merge(total, final_wells, how='left', on=['APINumber', 'FieldCode'])
df_merge['LeaseName'].fillna('NotFound', inplace=True)
df_merge['APIGravityofOil'].fillna(0, inplace=True)
df_merge['OilorCondensateProduced'].fillna(0, inplace=True)

df_merge.head()

,APINumber,FieldCode,ProductionReportDate,APIGravityofOil,OilorCondensateProduced,WellTypeCode,LeaseName,FieldName,WellStatus,County,District,OperatorName
0,40192022600,150,4/30/2020 0:00,0.0,0.000000,OG,NotFound,Coalinga,Idle,Fresno,Inland,Aera Energy LLC
1,40298869200,432,4/30/2020 0:00,0.0,38.386133,OG,Cahn,Lost Hills,Active,Kern,Inland,Chevron U.S.A. Inc.
2,40292937300,158,2/29/2020 0:00,0.0,0.000000,OG,SCLU,Coles Levee South,Idle,Kern,Inland,California Resources Elk Hills LLC
3,40294110500,454,1/31/2020 0:00,0.0,0.000000,OG,Davis,McKittrick,Idle,Kern,Inland,California Resources Production Corporation
4,40291457500,490,5/31/2020 0:00,0.0,0.000000,OG,Arvin Waterflood Unit,Mountain View,Idle,Kern,Inland,Sunray Petroleum Inc.

In [197]:
production=df_merge[['ProductionReportDate', 'OilorCondensateProduced', 'District', 'County', 'FieldName', 'LeaseName', 'OperatorName']]
production

,ProductionReportDate,OilorCondensateProduced,District,County,FieldName,LeaseName,OperatorName
0,4/30/2020 0:00,0.000000,Inland,Fresno,Coalinga,NotFound,Aera Energy LLC
1,4/30/2020 0:00,38.386133,Inland,Kern,Lost Hills,Cahn,Chevron U.S.A. Inc.
2,2/29/2020 0:00,0.000000,Inland,Kern,Coles Levee South,SCLU,California Resources Elk Hills LLC
3,1/31/2020 0:00,0.000000,Inland,Kern,McKittrick,Davis,California Resources Production Corporation
4,5/31/2020 0:00,0.000000,Inland,Kern,Mountain View,Arvin Waterflood Unit,Sunray Petroleum Inc.
...,...,...,...,...,...,...,...
2439295,2018-02-28 00:00:00,0.000000,Inland,Fresno,Coalinga,Claremont,Chevron U.S.A. Inc.
2439296,2018-02-28 00:00:00,0.000000,Coastal,Santa Barbara,Santa Maria Valley,Vincent,HVI Cat Canyon Inc.
2439297,2018-08-31 00:00:00,150.000000,Inland,Kern,Lost Hills,Section 2,Crimson Resource Management Corp.
2439298,2018-11-30 00:00:00,58.000000,Inland,Kern,Elk Hills,NotFound,California Resources Elk Hills LLC
2439299,2018-07-31 00:00:00,0.000000,Coastal,Santa Barbara,Santa Maria Valley,Golco Fee,HVI Cat Canyon Inc.

In [198]:
production_may20=production.groupby(['FieldName', 'OperatorName', 'LeaseName', 'District', 'County', 'ProductionReportDate']).sum()
production_may20.to_csv('Cali_production20.csv')